@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Squada+One|Roboto&display=swap');

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Roboto', cursive;
}

body {
  background-image: linear-gradient(90deg, #000000, #373837);
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-family: 'Roboto', cursive;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: circle;
}

#mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100%;
}

#logoSection {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: red;
  width: 100%;
  height: 20vh;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin-right: 3rem;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.navLink {
  margin: .1rem;
  display: inline-flex;
  text-align: center;
  background-color: black;
  font-size: 2rem;
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
}

.navLink:hover{
  color: red;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 50%;
  max-width: 100%;
  min-height: 100%;
   object-fit: contain; /*This respects the aspect-radio of the logo so it doesn't distorts*/
}

#webContent {
  display: flex;
  flex-direction: column;
}

.contentBlock {
  margin-bottom: 5rem;
}

.sectionTitle {
  font-family: 'Squada One', cursive;
  text-align: center;
}

#bloqueHorariosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.bloqueHorarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #FFFFFF;
  border-radius: 2%;
  width: 23%;
  padding: 2rem;
}

.bloqueHorarios ul {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 2.5rem;
  list-style-type: none;
  font-size: 1.5rem;
}

.horarioTitle {
  text-align: center;
  font-size: 2rem;
}

.cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
}

#directionGoogleMaps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#googleMapEmbed {
  width: 70%;
  min-width: 60%;
}

#contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
}

#contact a {
  text-decoration: none;
}

.contactLogo {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-left: 2rem;
   transition-duration: .3s;
}

.contactLogo:hover{
  margin-top: -1rem;
  transition-duration: .3s;
}

#contact a:hover{
  color: red;
}

footer {
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

/*Media Query for Smartphones */

@media only screen and (max-width : 500px) {

#navbar{
  height: 100%;
  width: 100%;
}

#logo{
  height: 60vh;
}

#navbar ul {
  display: flex;
  flex-direction: column;
}

.navLink:hover{
  color: white;
}

#bloqueHorariosContainer{
  flex-direction: column;
  align-items: center;
}

.bloqueHorarios{
  width: 70%;
  margin-top: 1.5rem;
}

.navLink{
  color: black;
  font-weight: 500;
  padding: 0.2rem;
  background-color: red;
  margin: .3rem;
  border-bottom: 1px solid white;
}

#googleMapEmbed{
  width: 99%;
}

/*social media*/
#contactInfo{
  flex-direction: column;
  margin-bottom: -2rem;
  }

.contactLogo{
  margin-top: 1.5rem;
}

.contactLogo:hover{
  margin-top: 1.5rem;
}

}
